[2014-10-16 20:55] Wildhoney opened #1 "Style example"

[2014-10-16 20:55] Wildhoney opened #2 "Incorporate unit-tests"

[2014-10-16 20:56] Wildhoney opened #3 "Module documentation"

[2014-10-16 20:56] Wildhoney opened #4 "Add delete functionality"

[2014-10-16 20:56] Wildhoney opened #5 "Should file model use DropletModel constructor?"

[2014-10-16 21:09] #4 closed, assigned to Wildhoney

[2014-10-16 21:10] #5 closed, assigned to Wildhoney

[2014-10-16 23:00] #1 closed, assigned to Wildhoney

[2014-10-19 20:19] Wildhoney opened #6 "Allow specifying of HTTP status codes in regex"

[2014-10-19 20:19] Wildhoney opened #7 "Allow specifying of permitted file types to be regex"

[2014-10-20 17:49] #6 closed, assigned to Wildhoney

[2014-10-20 18:28] #7 closed, assigned to Wildhoney

[2014-10-22 10:10] benorudolf opened #8 "Couple of adjustments"
Hey!
Found your module and am really enjoying using it. Works like a charm!
Have stumbled upon some minor things that might be worth a look at.

**1. On drag & dropping a file**
If jQuery is included the drop event object gets hijacked by jQuery and the event no longer has a _dataTransfer_ property. The jQuery event object has the original event in its _originalEvent_ property.

**2. Preview direc

[2014-10-22 14:36] jessegavin opened #9 "Thumbnail preview does not appear when files are added using the "Add Files..." button"
Using latest Chrome on OX Mavericks I tried to upload a file on the demo site by clicking the "Add Files..." button. After selecting an image, a thumbnail did not appear. There was no feedback that my file was added to the upload queue.

However, if I then add another image via drag and drop, both thumbnails (the original one I added using the "Add Files..." button as well as the image I just drag

[2014-10-22 17:58] #9 closed, assigned to nobody

[2014-10-22 19:00] #8 closed, assigned to nobody

[2014-10-24 23:16] tinyRabbit opened #11 "Bower install not found"
Can't find the bower through bower install,
ENOTFOUND Package ng-droplet not found

[2014-10-25 13:56] #11 closed, assigned to nobody

[2014-10-27 06:56] greglockwood opened #12 "Space missing for droplet-upload-single"
I was just reading through the source and I noticed on line 1090 that there appears to be a space missing. The markup as is wouldn't render correctly.

So change:

[code]

to

[code]

Don't you just _hate_ those typos?

[2014-10-28 19:37] tinyRabbit opened #13 "defineHTTPSuccess only works for multiple files"
$scope.$on($dropletSuccess) is only reached when there is more than one file uploaded.  If you upload a single file it still saves fine, but you aren't able to reach the onDropletSuccess function.  I think it has something to do with

$scope.interface.defineHTTPSuccess([/2.{2}/]);

I have no idea what [/2.{2}/] does, anyone have any ideas.

[2014-10-29 20:22] #13 closed, assigned to nobody

[2014-10-29 23:26] #12 closed, assigned to nobody

[2014-10-29 23:26] #3 closed, assigned to Wildhoney

[2014-10-29 23:26] #2 closed, assigned to Wildhoney

[2015-02-12 20:34] joseph887 opened #15 "Re-ordering iterated valid files"
Is there a good way to modify the positions/index of the files iterated from ```interface.getFiles()``` so that the files are uploaded in the order selected by users? I would like users to visually drag and drop files to re-order them so I need to have the re-ordered changes bound to the view.

I tried to re-order the files by directly setting the DropletModel of a given index with a different Dro

[2015-02-18 11:15] kovalevskyartur opened #16 "Any options to set Authorization header?"
Does ngDroplet have options to set Authorization HTTP header?

[2015-02-18 11:17] kovalevskyartur commented on #16
Okay, i found it in the source code.

[2015-02-18 11:17] #16 closed

[2015-02-19 08:09] Wildhoney commented on #16
No problem :+1: Thanks, Artur.

[2015-02-19 09:41] kovalevskyartur opened #17 "Different requests for files"
Is it possible to make request for each file? If i set useArray to false then Droplet make one request only for one of the files (not support multiple files) and all.

I think this feature very important and useful

[2015-02-19 09:48] Wildhoney commented on #17
`useArray` will still send only one request with all of the files, but [it's the name it gives to the file property](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L553) as I noticed a discrepency with the way different frameworks handle multiple files. Some frameworks require the `[]` notation for the `files` property, whereas other frameworks/libraries don't.

Do you

[2015-02-19 10:05] kovalevskyartur commented on #17
Yes, I'm looking for individual requests per each file. It will be great if you will make this feature.

[2015-03-03 15:11] mastermind1981 opened #18 "adding multiple file after a first upload not working"
Hello,

After making a first upload ( one or multiple file) when i try to make a second one, if i select and add multiple files they are not added.

When i do the same thing with individual files it works.

I'm using dropletUploadMultiple directive.

You can test it on the demi page.

[2015-03-03 15:41] #18 closed

[2015-03-03 15:43] Wildhoney commented on #18
Thanks @mastermind1981 :+1: It was happening when you selected the same set of files to upload, which meant the `onchange` event listener wasn't firing because *strictly* speaking the values didn't change. [Solution](https://github.com/Wildhoney/ngDroplet/commit/285a1d30fccc7a4f7caa320aa8ade054cdfd701e) was to reset the value to `null` when the user clicks on the element.

Please give it a whirl n

[2015-03-03 15:47] Wildhoney commented on #15
We'd need to modify the [code where the files are appended to the form](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L600) although I'm not entirely sure on the **best** approach for this currently. I'll have a think :+1:

[2015-03-03 23:22] mastermind1981 commented on #18
hello,

It works.
By the way you have done a good job may be you shoud make some article about ngdroplet in the angular eco system.

I have renamed locally the directive for progress bar to droplet progress because a of a conflict. May be it should be renamed.

Thank you

[2015-03-03 23:45] Wildhoney commented on #18
Thanks! Where would you recommend me writing an article?

[2015-03-04 01:02] mastermind1981 commented on #18
http://www.sitepoint.com/

[2015-04-13 09:16] lubushyn opened #19 "Rename file"
Hi. Does it possible rename file before upload?

[2015-04-13 09:35] Wildhoney commented on #19
Sadly not, but you could [setup a `requestPostData` object](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L639) to map the `File` objects to their final filename, and then consult that map on the back-end to rename them individually.

[2015-04-13 11:29] lubushyn commented on #19
I see. Thanks man.

[2015-04-13 11:29] #19 closed

[2015-04-14 21:14] Carw opened #20 "Doesn't work in AngularStrap Modals"
Doesn't work Drag and Drop in modal.

[2015-04-14 22:02] Wildhoney commented on #20
Would be nice if you could setup a simple JSFiddle for this.

[2015-04-15 10:53] himelnagrana opened #21 "Image Preview not showing"
We have followed all the mentioned steps and the example.
After dragging and dropping - the files are added into the ````<ul class="files">```` section.
The preview image is there as background and ````src```` in ````base54```` encoded value. But the browser cannot show the image preview. In chrome it gives a warning saying:

````Resource interpreted as Image but transferred with MIME type text/ht

[2015-04-15 10:57] Wildhoney commented on #21
Everything works [in the example](http://ng-droplet.herokuapp.com/) using exactly the same image?

[2015-04-15 11:01] himelnagrana commented on #21
Yes :-( it works there.
I have made a copy of the example code in my local and it works there too.

[2015-04-15 11:05] Wildhoney commented on #21
Hmm, it's difficult to diagnose without being able to replicate the issue.

Is there any chance you can share your code, or let me see where you're using it? I'll be able to debug better, and hopefully find the issue... :+1:

[2015-04-15 11:08] Carw commented on #20
Example here: http://jsfiddle.net/kaphysbr/2/
I've placed 2 ngDroplets there.

[2015-04-15 11:19] himelnagrana commented on #21
Thanks for such prompt reply.
We are using this within a modal (I forgot to mention previously). And we are using angular in twig within symfony framework.

So cannot really upload the whole piece of code as this will be large thing to share.
But still I am trying to share the related piece of code.
Any sort of help will be greatly appreciated.
Thanks.

````http://jsfiddle.net/aubks4ka/````

[2015-04-15 12:22] himelnagrana commented on #21
It started working after assigning the css class provided in the example:

    section.droplet ul.files > li > img.droplet-preview {
        max-width: 5em;
        background-size: cover;
        background-repeat: no-repeat;
        height: 5em;
        width: 5em;
        background-color: white;
        box-shadow: 0 0 10px rgba(0, 0, 0, .25);
        border: 1px solid white;
        display:

[2015-04-15 12:22] #21 closed

[2015-04-15 13:08] Wildhoney commented on #21
Ah! Simple solution. I'm glad you fixed it! :-1:

[2015-04-15 13:43] himelnagrana commented on #21
Thanks :+1:

[2015-05-01 07:37] Carw commented on #20
Any idea?

[2015-05-01 07:38] Wildhoney commented on #20
Sadly not, as I've never used `ngStrap` before. I don't understand why the content isn't showing.

[2015-05-01 17:41] Carw commented on #20
So strange, but it works If i change function $scope.filterFiles:
[code]
But filter is working correctly. I tried to use *console.log($scope.files)* in function *getFiles*. Sometimes it returns my files and sometimes only *[]*.

[2015-05-01 19:15] Carw commented on #20
It's a problem with *$scope.$on* for options. Modals uses template that start working when we press button.

[2015-05-08 15:23] gintsgints opened #22 "Small mistake in readme?"
Should not it be {{model.file.name}} instaead of {{model.name}} ?

[2015-05-08 15:44] Wildhoney commented on #22
Good spot. Thanks @gintsgints! :beers:

[2015-05-08 15:44] #22 closed

[2015-05-18 15:22] mastermind1981 opened #23 "Question: how to change the image preview size"
Hi,

I was wondering how to change in the css the size of the image preview?

Thank you in advance,

[2015-05-18 15:24] Wildhoney commented on #23
For the example, it is [defined here](https://github.com/Wildhoney/ngDroplet/blob/master/example/css/Default.css#L171).

[2015-05-18 15:32] mastermind1981 commented on #23
Thank you ;)

[2015-05-18 15:34] Wildhoney commented on #23
:kissing_smiling_eyes:

[2015-05-18 15:34] #23 closed

[2015-05-18 16:45] mastermind1981 opened #24 "Release for #18 issue"
Hi,

Could you please make a new release with the new bug fixes ( my interests is in issue #18 )?

Thanks in advance,

[2015-05-18 17:39] Wildhoney commented on #24
`ng-droplet#v0.5.3` :+1:

[2015-05-18 17:39] #24 closed

[2015-05-28 14:30] romain10009 opened #26 "use multiple as simple uploads in a form"
is there a way to put two droplets in a form, along other input fields and to upload all the files, and the form data with them when submitted through angular?

[2015-05-28 14:36] Wildhoney commented on #26
I've never tried, but I don't see why not. Use the `getFiles` method to bring back all of the files, and then construct your own `FormData` object using that data, plus your data from the form.

[2015-05-28 14:40] romain10009 commented on #26
Yes, ok that's what i thought, building it by hand, i expected there might be an easyer way. I will give it a try and let you know!

[2015-05-29 09:26] romain10009 commented on #26
I thought about the problem once more, and found a simple sollution : Instead of sending everything ( formdata with files), i will send text inputs first, wait for response, send files, done. Easy. I didnt switch my brain to asynchronous : )

[2015-05-29 09:33] Wildhoney commented on #26
Aah! Perfect :+1: Glad you solved it :)

[2015-05-29 09:33] #26 closed

[2015-06-12 14:14] Godwill opened #27 "Doesn't work within AngularUI Bootstrap Accordions"
Its obviously something to do with the scope, the ng-droplet won't work with directives that create their own scope. Is there a way to fix this? Like not to attach the interface model to the $scope object directly. Instead of $scope.interface have something like $scope.something.interface?

See here https://github.com/angular-ui/bootstrap/wiki/FAQ#my-input--select-element-doesnt-work-as-expected-i

[2015-06-12 14:16] Wildhoney commented on #27
I have no problem with it being `$scope.droplet.interface` if that's going to fix any issues you're having :+1: Please test it first by modifying the source code, and then open a PR if everything is good with it.

[2015-06-15 10:44] Godwill commented on #27
Found a quicker workaround. Used dot notation on the model itself.

[2015-06-15 10:46] Wildhoney commented on #27
Ah, good news! Glad you found a fix :+1:

[2015-06-15 10:46] #27 closed

[2015-06-18 16:34] ThomGonzalez opened #28 "Not found progressbar.js"
Where I find the file progressbar.js

Regards.

[2015-06-19 15:50] Wildhoney commented on #28
That's in [another repository](https://github.com/kimmobrunfeldt/progressbar.js/) &ndash; it's not needed for `ngDroplet`, only for the example. Try a `bower i` in the `ngDroplet` directory to install all of the depedencies.

Will move **progressbar.js** from `dependencies` to `devDependencies` :+1: Apologies.

[2015-06-19 20:08] ThomGonzalez commented on #28
Thank very much.

[2015-06-19 20:08] #28 closed

[2015-06-24 21:25] james-bell opened #29 "User-defined callback for each file?"
I need to get two pieces of data from the user in addition to the image itself (a document type and a record locator).  Then I need to submit those in the POST, either in the URL or in the posted data.  setPostData and setRequestUrl seem to be used for *all* the files.  My next thought was to call one of those as each file was uploaded but I don't see an interface for that.  A user-defined callbac

[2015-06-24 21:34] Wildhoney commented on #29
I can't envisage how we'd go about adding individual `POST` params for each file. What you could do, however, is add POST params that map the filenames to individual data, and then to resolve those on the server side.

For example you could have `POST` data:

[code]

...And then on the server side resolve that `POST` data to the uploaded images.

I suppose something like that could work :+1:

[2015-06-28 01:12] thegreatmichael opened #30 "TypeError: Cannot read property 'allowedExtensions' of undefined"
I was trying to follow the example in the source and the readme. for some reason, in my `$scope.$on('$dropletReady', function whenDropletReady() {`, `$scope.uploader` is undefined. (or, if i set it to `{}` as in the example, it remains an empty dict.

What am I missing?

My source is here:
https://github.com/thegreatmichael/case-of-fabulous
https://github.com/thegreatmichael/case-of-fabulous/blob/

[2015-06-28 22:51] Wildhoney commented on #30
@thegreatmichael Sorry, your [`controllers.main.js`](https://github.com/thegreatmichael/case-of-fabulous/blob/master/app/scripts/controllers.main.js) doesn't exist any more, so I can't exactly what you're doing.

I assume your `$scope.uploader` is the `$scope.interface` from the README. In that case, you'll need to ensure that you're passing your `$scope.uploader` into the `ng-model` in your templ

[2015-06-29 11:45] thegreatmichael commented on #30
I apologize for the typo: it's been corrected to https://github.com/thegreatmichael/case-of-fabulous/blob/master/app/scripts/controllers/main.js

the relevant (I think) snippets are:

MainCtrl (indicated in my app config `app.js` to be the controller that uses template `main.html`)

    angular.module('caseOfFabulousApp')
      .controller('MainCtrl', function ($scope, $timeout) {

        ...

[2015-06-29 11:49] Wildhoney commented on #30
I could make that change in the source itself, because it would be a non-breaking change, but that doesn't solve the actual issue. I assume the `uploader` in the `ng-model` attribute isn't the same `uploader` that you're using in the controller.

On line <kbd>701</kbd> is where the [`$scope.interface` is bound](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L701) but th

[2015-06-29 11:56] Wildhoney commented on #30
On the [following line](https://github.com/thegreatmichael/case-of-fabulous/blob/master/app/index.html#L34) move your `ng-controller` into the **views/main.html** template, because an `ng-include` implicitly creates a child scope.

[code]

Alternatively you can use the [controller as syntax](http://toddmotto.com/digging-into-angulars-controller-as-syntax/) and leave the `ng-controller` where it is

[2015-07-10 11:27] abinashbohidar opened #31 "Not able to restrict size limit of the uploaded file"
I am not able to restrict the size limit of the uploaded file considering I want to upload any file type. I tried doing something as below, but doesn't work. Quick response will be appreciated.

Snippet:-
 $scope.$on('$dropletFileAdded', function onFileAdd(event, args) {
        if (args.file.size>(3*1024 * 1024)) {
            //Exceeded Size which we must reject!
        	args.setType($scope.int

[2015-09-04 07:38] vinovedeep opened #32 "upload.html not present"
Hi I want to use this plugin but I am facing some difficulties, please help me
1)upload.html is not present
2)Error: JSON.parse: unexpected end of data at line 1 column 1 of the JSON data
3)Some files is missed in download and path are wrong

Thanks

[2015-09-04 07:42] Wildhoney commented on #32
Did you `npm install && bower install`? Then `node example/server/default.js` and take a look at **localhost:5000**.

[2015-09-04 07:45] vinovedeep commented on #32
I am very thankful for your quick response. I download the zip file and checking on my localhost.
May you please provide me upload.html here

[2015-09-04 07:55] Wildhoney commented on #32
Sorry, `upload.html` being referenced is a little misleading, as it implies it's pointing to a physical file on the filesystem &ndash; instead [it's an API endpoint](https://github.com/Wildhoney/ngDroplet/blob/master/example/server/default.js#L14). You just need to run the Node server with `node example/server/default.js` and then access your `localhost` on port `5000` :+1:

[2015-09-04 08:01] vinovedeep commented on #32
I am using this with the php not with the node js.
Below error is coming

POST http://localhost/ngDroplet-master/example/upload.html

404 Not Found
		0ms
ng-droplet.js (line 613)
Error: JSON.parse: unexpected character at line 1 column 1 of the JSON data
parserFunction@http://localhost/ngDroplet-master/dist/ng-droplet.js:176:32
apply@http://localhost/ngDroplet-master/dist/ng-droplet.js:319:48
Pe/t

[2015-09-04 08:09] Wildhoney commented on #32
You should be really using the Node server if you want the example to run correctly:

* Run `node example/server/default.js`
* Navigate to http://localhost:5000/

However, with your PHP if you return a valid JSON string, then it will be parsed correctly by `ngDroplet`.

[2015-09-04 08:23] vinovedeep commented on #32
Ok Thanks, I will check.

[2015-10-06 15:41] romain10009 opened #33 "Adding unsupported file type doesnt raise any error message"
So when I configure for example when I configure the ngDroplet to accept only Png files and I try to add some files of the wrong type, for instance Jpg, I get no errors. The files are not added, and there is only one unconvenient way to notify my user which is to listen for "$dropletFileAdded" event and do some checks on the file extension again.

Would it not be nice to have an event like "$dropl

[2015-10-06 15:44] Wildhoney commented on #33
Why not use:

[code]

[2015-10-06 15:47] Wildhoney commented on #33
Alternatively using the `$dropletFileAdded` approach, you could check if it's invalid:

[code]

[2015-10-06 15:51] romain10009 commented on #33
Sorry, I dind't re-read the docs. pardon me but to me "$dropletFileAdded" supposed that a file was added with success. Apparently not.

[2015-10-06 15:54] Wildhoney commented on #33
Nope, not necessarily. You need to check its `type` &ndash; the utility methods such as `interface.getFiles(interface.FILE_TYPES.INVALID);` do this for you based on the bit value you pass in.

[2015-10-06 16:09] romain10009 commented on #33
Are you sure about the usage
    file.type & interface.File_TYPES.INVALID
because file.type gives me "image/jpg"  and FILE_TYPES contains ints... maybe I'm still doing something wrong.

[2015-10-06 17:23] Wildhoney commented on #33
Yes, but you seem to be accessing the `type` property on the `File` object, rather than on the `DropletModel` object.

You need to use `DropletModel.type` as seen [in the `filterFiles` method](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L490).

The `$dropletFileAdded` event passes through the `DropletModel` object, unless there's a bug somewhere...

[2015-10-06 18:11] romain10009 commented on #33
I really dont get it, this is the code I'm trying with now. I have :
[code]

[2015-10-06 18:41] Wildhoney commented on #33
`$dropletFileAdded` is [emitted **once**](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L395) for each file that has been *added* &mdash;  by iterating over `files` you're creating the confusion.

[code]

[2015-10-06 19:23] romain10009 commented on #33
Adam, would it be ok to talk that through, my skype is ryuuzaki57, i dont get any files back if i do $scope.adminPhotoDroplet.getFiles($scope.adminPhotoDroplet.FILE_TYPES.ALL) inside the event callback... is the code that sets the files not synchronous or hapening after raising the event?

[2015-10-06 19:49] romain10009 commented on #33
ok i found why this behaviour in the code :
[code]

[2015-10-06 20:46] Wildhoney commented on #33
Because there are multiple ways of doing what you're after &mdash; I've pushed `v0.5.7` which *should* fix things :+1:

[2015-10-06 20:51] romain10009 commented on #33
ok, did a new commit, will my pull-request automaticcally update to latest commit?

[2015-10-16 00:54] wernerglinka opened #35 "404 Not Found causes SyntaxError: Unexpected token <"
First of all, thank you very much for a wonderful plugin..

I have installed the example from the download folder on a local server. I left the request url at upload.html so when I click the Upload Files button I get a 404 Not Found, just as expected. However, I also get
<code>SyntaxError: Unexpected token < <br>
    at Object.parse (native) <br>
    at Object.parserFunction [as parserFn] (http://

[2015-10-16 08:09] Wildhoney commented on #35
Have you tried using the [`customParser` property on the options](https://github.com/Wildhoney/ngDroplet#custom-parser-function)? Ideally for a 404 you should **always** return a JSON format if your API is JSON-based. However, it's not always possible, and for that you simply need to `try catch` the `JSON.parse`.

Maybe something like the following would be better:

[code]

Currently there's no wa

[2015-10-16 09:41] raimonbosch opened #36 "Is it possible to make ngDroplet to upload only one image"
I want to use ngDroplet in an application when you only need to upload one image, and not many. But I could not find an option to emulate this behavior. I would like to see that when I reupload an image, the old one is replaced.

Is it possible to accomplish this behavior? If not, which changes should we perform on the code?

[2015-10-16 09:47] Wildhoney commented on #36
It's entirely up to your backend to overwrite the previously uploaded file for any given user.

However, for uploading only a single image, I suppose we need to implement `maximumValidFiles` as in the Ember equivalent &mdash; [`EmberDroplet`](https://github.com/Wildhoney/EmberDroplet#options).

Let me take a look.

[2015-10-16 14:21] raimonbosch commented on #36
Thanks! I have tested the maximum and it works. But if you drop a second image does not replace the previous. I guess I should handle that from my backend.

[2015-10-16 15:32] Wildhoney commented on #36
It would also be nice if we could provide a strategy to `ngDroplet` to tell it what it should do in such circumstances. By default it could simply set the additional files as `INVALID`, or it could start invalidating files added earlier to make room for new files.

Thoughts?

[2015-10-16 16:40] wernerglinka commented on #35
Thank you for the quick reply Adam. I'll investigate

[2015-10-16 17:44] wernerglinka commented on #35
Thanks again, your response helped me to device a solution.

[2015-10-21 19:39] wernerglinka opened #37 "How can I change the image name before upload?"
Presently if I try to change the name I get an error. Is there a way to change the image name?

[2015-10-22 14:25] wernerglinka commented on #37
Thank you again for the fast reply... Yes, that is what I did. I used a "companion object" to send the new name to the server.

[2015-10-22 14:28] Wildhoney commented on #37
Glad it helped, @wernerglinka :+1:

[2015-10-22 14:28] #37 closed

[2015-10-22 14:29] #32 closed

[2015-10-22 14:29] Wildhoney commented on #35
No problem :+1:

[2015-10-22 14:29] #35 closed

[2015-10-22 14:29] #29 closed

[2015-10-22 14:29] #30 closed

[2015-10-22 14:31] Wildhoney commented on #33
Yes, please see the PR to clean it up a little, and then I will merge and push.

[2015-10-22 14:31] #33 closed

[2015-10-29 09:48] GPnow opened #39 "MEAN.JS integration not working."
After bower install,i did the usual thing,changing config/all.js(including ngDroplet.js with its location),and public/config.js (adding [.....,"ngDroplet"] in the dependencies)respectively.
However when i used it in view it's not working,and also not even giving any error,so i am clueless.If anybody can suggest anything it'll be a nice starting point.

[2015-10-29 14:56] #39 closed

[2015-10-29 15:05] Wildhoney commented on #39
Solved?

[2015-10-29 16:22] GPnow commented on #39
Just needed to restart my computer,and it worked :)

[2015-10-29 16:28] Wildhoney commented on #39
Haha... Classic :+1: Thank you, mate :)

[2015-11-13 01:01] benmarten opened #40 "EXIF Image Info not Being Read for Correct Rotation"
I noticed when you upload a portrait picture taken from mobile it does show up in the wrong orientation on the preview.

I investigated and its because filereader is not reading and applying the correct exif rotation info...

[2015-11-13 08:40] Wildhoney commented on #40
Could you tackle this one? It seems [it is possible](http://stackoverflow.com/a/10346298) &mdash; we'd just need to rotate it if necessary.

[2016-01-03 16:48] daedlock opened #41 "Gray border around <img>"
When using `droplet-preview` the resulting images contains a gray border around them because that is what the browser would do if the `<img>` has no `[src]` attribute.

![photos 2016-01-03 18-48-17](https://cloud.githubusercontent.com/assets/842346/12079681/9bfd1e1e-b24a-11e5-9233-0fa81dd1f778.png)

[2016-01-04 08:14] Wildhoney commented on #41
Please try again with https://github.com/Wildhoney/ngDroplet/commit/909304c1632916f23fe2a85ccb53f92bab9643ef :+1:

[2016-01-04 08:34] daedlock commented on #41
@Wildhoney. Cool I did exactly that locally and wanted to submit a PR. But you were faster :)

[2016-01-04 08:34] #41 closed

[2016-01-04 08:49] Wildhoney commented on #41
Haha! :+1: Thanks for raising the issue &ndash; I don't know how I didn't spot it.

[2016-01-04 08:56] daedlock commented on #41
@Wildhoney I just started doing open source contributions recently. Would like to help you with any issues in the future as I am using ngDroplet in a production app. Also, there are some stuff missing in the documentation like how to customize the 'droplet' element on dragstart,end..etc. I had to read the code to get it

[2016-01-13 20:39] mwgi2005 opened #42 "ngDroplet for Edit Page to show already uploaded images on server"
Hey there is there any way If I can fetch the files from my folder and give it to ngDroplet to show them in preview, actually its for an Edit page which contain alot of pictures and I used this module for uploading images, is there code already written to give some picture to ngDroplet interface and it shows them in preview ????

Help will be really appreciated

[2016-01-13 20:45] mwgi2005 commented on #36
Yes You can upload one image and 10 at the same time via ngDroplet.

Since I'm using Node and Express and multer for file handling, all I had to do is to define the requestURL in ngDroplet Controller:

$scope.interface.setRequestUrl('http://localhost:3000/api/upload');

and the request will be sent to Node API, just define multer on top of your API.

router.use(multer({ dest: __dirname + '/public/

[2016-01-14 08:21] Wildhoney commented on #42
You could potentially use the [`addFile`](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L491) function which is exposed by the `interface`.

All you would need to do is to mock the `File` object. Maybe something like:

[code]

Of course when we get to uploading those images then we'll likely have another issue, but we can tackle that when we get to it. For the time bei

[2016-01-14 11:14] mwgi2005 commented on #42
that is fantastic..... I'll figure our the rest.. Thank you so much....

[2016-01-14 12:42] Wildhoney commented on #42
:+1: I think you'll need help with the upload process, as I think that'll require a code change to ignore those images which aren't actual `File` objects, but let's see how you get on...

[2016-01-14 13:02] mwgi2005 commented on #42
:Offcourse If I need help I will come here :P where else I'm will go :+1:

[2016-01-15 13:34] villesau opened #43 "can't install from npm"
trying to install from npm fails to the post-install script and this is the end result:
[code]

[2016-01-15 13:36] Wildhoney commented on #43
Ah &ndash; sorry. Please try with `v0.5.11`.

[2016-01-15 13:36] Wildhoney opened #44 "Update deployment strategy"

[2016-01-22 13:10] mwgi2005 opened #45 "Using ndDroplet in Different Places"
Hey, I've a problem, I'm using this API on different partials in same application, I've made a partial ndDroplet.htm and calling it in different partials via <ng-Include>, but the controller is same for handling the requests, now the problem is I'm getting this Error, I've absolutely no idea what to do with it.

Error: [$compile:multidir] Multiple directives [progressbar, progressbar (module: Main

[2016-01-30 22:39] Wildhoney commented on #45
That's a more of an issue with how you're writing your partials, rather than `ngDroplet`.

Please take a look at the following StackOverflow to see if it helps resolve issues: http://stackoverflow.com/questions/16148086/multiple-directives-directive1-directive2-asking-for-isolated-scope-on

If you're still having problems, please post the relevant files and I'll take a look :+1:

[2016-02-01 10:33] mwgi2005 commented on #45
Will let you know thanks

[2016-02-01 17:42] ddoriazyp opened #46 "Browser freezes for a few seconds when dropping file"
I'm working on a web app that allows users to upload files up to 250MB. The sample file I'm working with is around 88MBs and whenever I drag and drop, the browser noticeably freezes for a few seconds before it's responsive again. I'm using Chrome Version 48.0.2564.97 (64-bit).

[2016-02-01 20:27] Wildhoney commented on #46
Are you using the `droplet-preview` directive? As that's the only point in which [we read the file data](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L1035) &mdash; but it shouldn't attempt to read it unless it's an image.

[2016-02-01 20:31] ddoriazyp commented on #46
Yes, I'm using the `droplet-preview` directive. Btw, it's a video file I'm uploading and am not sure if that would be an issue. Aside from the temporary freezing issue, everything else works fine and am able to upload whatever files to my backend.

[2016-02-01 20:36] Wildhoney commented on #46
Hmm... that shouldn't matter.

Can you replicate it [on the demo site](http://ng-droplet.herokuapp.com/)?

I've tried with a 512MB JPEG that I have of Mars, and I don't notice any slowdown when dropping it onto there.

[2016-02-01 21:04] ddoriazyp commented on #46
My app accepts video files but the demo site apparently only accepts images so I took a ~90MB file, changed the extension to .jpg and dropped the file and I was able to duplicate what I'm experiencing. After I drop it, I clicked on the 'Add Files...' button and it doesn't respond until a few seconds later.

[2016-02-01 21:14] Wildhoney commented on #46
I'm unable to replicate that.

Could you please try a different browser on the demo site, and see if it's something you can consistently reproduce across a handful of browsers?

[2016-02-01 21:51] ddoriazyp commented on #46
I tested the same file on Safari and Firefox Developer edition and got similar results, more pronounced on Firefox. However, I tried it on larger media files and didn't get the issue. I'm starting to think it's an issue with certain files that may be causing this.

Having confirmation that you aren't running into these issues, I'm confident going forward that this should be an issue easily handled

[2016-02-01 21:51] #46 closed

[2016-02-18 22:08] ggoforth opened #47 "Using restify backend, req.files is always empty"
This could totally be a misconfiguration on my end, but wanted to run it by the experts here :)

I've got the following front end code:

[code]

This works great, and kicks off the upload.  When I love the `req.files` object in my restify endpoint, I get `{}`.  Do I need to set a name anywhere for the file being uploaded, or is that otherwise derived?  My backend code is just using `restify.bodyPa

[2016-02-18 22:12] ggoforth commented on #47
<img width="787" alt="screenshot_2016-02-18_14_09_13" src="https://cloud.githubusercontent.com/assets/1167712/13159926/73be2cb8-d649-11e5-8ef7-3e3e9cce4175.png">

The request payload seems to be empty (notice at the bottom of the image).  That's expanded and scrolled to the bottom of the screen.

[2016-02-18 22:24] Wildhoney commented on #47
It's the **Request Payload** you should be looking at &mdash; which is chopped off in your image. However by the looks of it there is *something* in there.

It should give you something like the following:

I've noticed inconsistencies in the way files are handled on the server side &mdash; especially between Rails and Express, and that's why we have the [`useArray(false)` option](https://github.c

[2016-02-18 22:32] ggoforth commented on #47
<img width="1437" alt="screenshot 2016-02-18 14 29 59" src="https://cloud.githubusercontent.com/assets/1167712/13160419/2dd4dde8-d64c-11e5-8b14-5463db332811.png">

Here's another view, for some reason, this is all I get under the request payload.  I agree, there is something there, but it's truncated.  This is with current chrome on osx.

[2016-02-18 22:32] ggoforth commented on #47
it also runs this upload like 700 times when I drop the file, but I'll work that out on my own :)

[2016-02-18 22:36] Wildhoney commented on #47
Haha... Hmm.

Well I am on Chrome `48.0.2564.109` with OSX too. It seems strange that the **Request Payload** doesn't show the closing boundary as that's a must. Does the [example](http://ng-droplet.herokuapp.com/) show it any different to you?

![Screenshot](http://i.imgur.com/HXVByoA.jpg)

[2016-02-18 22:40] ggoforth commented on #47
That example works and I see the closing boundary.  Damn, what am I doing wrong....don't want to waste your time on this, I'm sure I've misconfigured something, but all the events are firing as expected.  I'll test in another browser shortly and see if it changes anything.

[2016-02-18 22:43] ggoforth commented on #47
Side note, changing it `useArray` to `true` didn't change anything.  My markup looks like:

[code]

[2016-02-18 23:14] ggoforth commented on #47
<img width="604" alt="gittyup_io" src="https://cloud.githubusercontent.com/assets/1167712/13161396/3e291b5e-d652-11e5-9fad-f882aaceb2c2.png">

Same results in Firefox, though the console seems a bit different

[2016-02-18 23:55] ggoforth commented on #47
Figured it out...apparently I needed to wrap my `uploadFiles` call with `isReady`.  This works:

'''
      /**
       * When a file is added, upload it right away.
       */
      $scope.$on('$dropletFileAdded', function whenDropletFileAdded() {
        if ($scope.dropletInterface.isReady()) {
          $scope.dropletInterface.uploadFiles();
        }
      });
'''

FYI, this directive is awesome,

[2016-02-18 23:56] #47 closed

[2016-02-19 02:05] ggoforth opened #48 "$dropletFileAdded and $dropletSuccess called a lot"
So I've got the uploads working, but I'm seeing my `$dropletFileAdded` and `$dropletSuccess` callbacks being called A LOT.

![screenshot 2016-02-18 18 01 33](https://cloud.githubusercontent.com/assets/1167712/13164424/f0b9a862-d669-11e5-9bc6-999d0684b172.png)

Is this normal?  I'm seeing multiple calls to my backend and multiple attempts to upload to s3. Only one file is uploaded to s3 (but I'm as

[2016-02-19 02:12] ggoforth commented on #48
![screenshot 2016-02-18 18 01 33](https://cloud.githubusercontent.com/assets/1167712/13164477/6c53b6ca-d66a-11e5-8153-0b4041fbbccd.png)

[2016-02-19 02:13] ggoforth commented on #48
Sorry, dunno how that got closed :)

[2016-02-19 06:13] ggoforth commented on #48
To add a little more info, the app I'm building is a feed of events from thrid party apis.  There is a reply box on each item (pictured below in the pink squares).  The reply box directive contains the droplet directive, so there could be N number of droplets on a page.  Possible that multiple droplets could be causing the issue of calling all these events so many times?

<img width="904" alt="dro

[2016-02-19 06:53] ggoforth commented on #48
Think I figured this out.  I was binding to the file added and success events inside the $dropletReady event.  I'm guessing this gets called often, and it was rebinding to those same events multiple times.  Moving those bindings out of the $dropletReady fixed the issue.

[2016-02-19 06:53] #48 closed

[2016-02-19 09:23] Wildhoney commented on #47
Ah! Should have spotted that myself &mdash; glad you fixed it :+1:

[2016-02-19 09:26] Wildhoney commented on #48
Yep &mdash; that makes sense. Those events will propagate throughout the system, so ideally handle them in a single location.

[2016-02-22 21:51] zjda commented on #42
I am evaluating ngDroplet for my app and want this feature too.  I created a directive to wrap ngDroplet and bind image downloaded from server (bytes, name and type) to ngModel.  I added the following code to my link function:

`			$scope.$watch(function() {return $ngModel.$modelValue;},
				function(v) {
			          if (v && v.bytes) {
				        var bytes = atob(v.bytes);
				        var byteN

[2016-02-22 23:48] zjda opened #49 "Multiple ngDroplet instnaces on same page"
Hi, I wrote a directive with isolated scope to wrap ngDroplet.  When I put 2 instances of my directive in a page, both of them receive '$dropletFileAdded' event if a file is added to one of them.  Based on the 2 parameters passed in the handler (p1 and p2), I cannot figure our how to update my model.  The test files are attached.

The problem can be solved by either including target field informat

[2016-02-23 17:36] Smiley01987 commented on #49
I have the same problem and i have no idea how to fix this.

[2016-02-24 08:43] Wildhoney commented on #49
I've added the ability to define the callbacks via attributes &mdash; which I think will help you folks differentiate between which Droplet directive is making those calls.

[code]

I don't have time to document the changes at the moment, but if you [look at the `scope`](https://github.com/Wildhoney/ngDroplet/blob/master/components/ngDroplet.js#L34) then you'll see there are 4 bindings. Then take

[2016-02-24 10:45] Smiley01987 commented on #49
@Wildhoney i can't seem to get this to work. Could you provide more information how to implement this please?

[2016-02-24 17:34] zjda commented on #49
Thank you so much for your quick update.  After I refreshed my workspace with the your latest code, magic happened:  only target directive received "$dropletFileAdded" event.  In the other word, if I add a file in the first droplet, only the first one receives the event but the second does not.  I thought you did not change the $broadcast, so I have gone back and forth with the old version and the

[2016-02-24 19:26] Smiley01987 commented on #49
@zjda care to share how you implemented this please?

[2016-02-24 19:43] Wildhoney commented on #49
In my haste this morning, I accidentally broke the backwards compatibility and so have released `v0.5.14` and deprecated `v0.5.13` on npm &mdash; please ignore the `$broadcast` behaviour, as that will function as it always has.

@Smiley01987 try something like, where the function &mdash; `onAdd` &mdash; on your controller/directive could change depending on the Droplet instance you're currently ha

[2016-02-24 19:46] Wildhoney commented on #49
We have:

[code]

[2016-02-24 20:16] zjda commented on #49
@Wildhoney: Basically you are going to have attributes mirroring your broadcast events.  If so, you may want to add on-ready to the attribute, which will be used to set allowedExtensions and other settings for each individual droplet in a page.  For example, I may have one droplet for photo and another one for pdf/word resume.

@Smiley01987: as Wildhoney mentioned, you just need to add the attribu

[2016-02-24 22:11] Wildhoney commented on #49
@zjda :+1: Added `onLoad`.

I don't intend to keep both approaches, but will see how well the attribute functions are taken and may remove the `$broadcast`s in future.

[2016-02-24 22:13] Wildhoney commented on #45
@mwgi2005 Any luck?

[2016-02-24 22:13] #44 closed

[2016-02-24 22:13] #43 closed

[2016-02-24 22:14] #36 closed

[2016-02-24 22:22] Wildhoney commented on #31
Sorry &mdash; I suppose this is offending to respond 229 days late, but you're absolutely correct in your approach.

[code]

Using [new approach](https://github.com/Wildhoney/ngDroplet/issues/49) with attributes:

[code]

[2016-02-24 22:22] #31 closed

[2016-02-25 02:43] zjda commented on #49
I have tested on-add, on-delete, and on-load:

`<droplet` ng-model="interface" on-add="added(file)" on-delete="removed(file)" on-load="loaded()" class="droplet">...</droplet>`

and they work perfectly for me.  Since I have my own upload method, I am not able to test on-success and on-error.

Again, thank you very much for the update.
![image](https://cloud.githubusercontent.com/assets/14140244/133

[2016-02-25 09:02] Wildhoney commented on #49
No problem!

Small consideration: do you think we're better off with hyphens in the attribute names (`on-add`) &mdash; which I prefer for readability &mdash; or without &mdash; and thus sticking closer to the HTML convention (`onadd`).

@Smiley01987 Did you have any luck with the attribute approach?

It's also worth pointing out that you can pass through additional arguments to those callbacks &md

[2016-02-25 16:57] zjda commented on #49
I agree with you.  The following looks better

`<droplet on-add="added(file, 'first')" ng-model="firstInterface" />`

than

`<droplet onadd="added(file, 'first')" ng-model="firstInterface" />`

[2016-02-26 10:28] Smiley01987 commented on #49
@Wildhoney sadly it still doesnt work for me. The function doesn't get called when adding a file to the droplet.

Here is my code:

**Directive:**

`.directive('gameImages', function () {
    return {
        restrict: 'E',
        templateUrl: 'partials/directives/game-images.html',
        scope : {
            images: "=",
            type: "=",
            maxImages: "="
        },
        lin

[2016-02-26 10:32] Wildhoney commented on #49
@Smiley01987 Where do you add the `<droplet />` node to your directive? Is that in **game-images.html**? If that's the case then in there change it to `<droplet on-add="added(file)" /> ` &mdash; `ngDroplet` will then invoke the `added` function in the given `scope` context.

[2016-02-26 10:36] mwgi2005 commented on #45
No... but I've temporarily disabled this part... but obviously this is not the solution

[2016-02-26 10:41] Smiley01987 commented on #49
@Wildhoney Yes exactly, in game-image.html. I added my code in my previous post.

[2016-02-26 11:18] Wildhoney commented on #49
@Smiley01987 I've [set you up a JSFiddle](https://jsfiddle.net/142voLtk/) which illustrates how to achieve this through the attributes. Please let me know if this doesn't make things clearer.

[2016-02-26 14:42] Smiley01987 commented on #49
@Wildhoney I tried your code and everything works fine, but as soon as I change the droplet element to droplet-upload-multiple with an ng-model it fails.

[2016-02-26 15:05] Smiley01987 commented on #49
@Wildhoney I moved everything out of the directive and into plain HTML. I also added the $scope function in my main controller but still nothing.

HTML:
`<droplet-upload-multiple on-loaded="loadedWinnerImages(winnerImages)" on-add="addedWinnerImage(file)" ng-model="winnerImages" id="winnerImages" name="winnerImages"></droplet-upload-multiple>`

Scope functions:

`$scope.addedWinnerImage = function

[2016-02-26 16:32] zjda commented on #49
@Smiley01987 The attributes should be used for `<droplet>` NOT for `<droplet-upload-multiple>` or `<droplet-upload-single>`:

`<droplet ng-model="interface" on-add="added(file)" on-delete="removed(file)" on-load="loaded()" class="droplet">`

[2016-02-26 16:47] Wildhoney commented on #49
@zjda is right. I've [updated the JSFiddle](https://jsfiddle.net/142voLtk/1/) to show you how to tie the two directives together &mdash; `droplet` and `droplet-upload-single`.

[2016-02-28 17:43] Smiley01987 commented on #49
@Wildhoney & @zjda, thanks a lot guys. Now it works perfectly!

[2016-03-02 19:59] zjda opened #51 ""interface" not initialized when using ng-if"
When I use ng-if in droplet parent div, the interface is not initialized/setup even though the condition of ng-if is true.  The following is my simple test code.

html file:

[code]

js file:

[code]

Thanks for looking into this.
-ZJ

[2016-03-02 20:32] zjda commented on #51
Found a workaround:  use `ng-show` instead of `ng-if`.

[2016-03-03 08:15] Wildhoney commented on #51
That's a workaround, but it would be nice to fix the `ng-if` &ndash; will leave the ticket open and investigate :+1:

[2016-03-07 00:01] ggoforth commented on #26
@Wildhoney no need to reopen this, but had a question, when I drop two files on a droplet it's doing two calls to my api for uploading, once for each file.  Is this expected, or should both files be sent in one request?  I'm trying to emulate a github style file upload, drag image(s) to the droplet, drop, auto upload to s3 and add markdown into the body of a text input. My controller code looks li

[2016-03-07 08:26] Wildhoney commented on #26
I'm unable to replicate &mdash; for me dragging two files invokes `on-add` twice, and `on-success` once. I'd be worried if you're seeing such results.

Open [the example](http://ng-droplet.herokuapp.com/) and put a breakpoint on `Default.js` line `43` &mdash; and then upload a file. You should see it's only invoked once per upload &mdash; even with a set of files.

[2016-03-07 16:59] ggoforth commented on #26
@Wildhoney gotcha, I'm looking into it.  I wonder if this has anything to do with registering my events (`$dropletReady`, `$dropletFileAdded` and `$dropletSuccess`) in a custom directive controller instead of the link?  I wouldn't think that would matter, but I'm now trying to figure out why it's being called so many times.  I have multiples of this directive on the page at any one time, but it se

[2016-03-07 17:05] ggoforth commented on #26
Ah, now I'm getting somewhere...there is a correlation between how many of my custom directives I have on the page, and how many times the event listeners get called...the plot thickens :)

[2016-03-07 20:39] Wildhoney commented on #26
Haha... [Use the attributes instead](https://github.com/Wildhoney/ngDroplet/commit/ee68ba8caee04b878237964fd5caa09974d3ab15).

See: https://github.com/Wildhoney/ngDroplet/issues/49
And related JSFiddle: https://jsfiddle.net/142voLtk/

[2016-03-07 20:49] ggoforth commented on #26
Sweet, will give that a whirl and report back.  Thanks @Wildhoney!

[2016-03-07 20:51] Wildhoney commented on #26
@ggoforth no problem :+1: Let me know if you have any further troubles.

[2016-03-07 22:32] ggoforth commented on #26
I think the root issue is that I'm uploading during the onAdd callback.  Since onAdd is called once for every dropped file (IE I dropped three files at once, it's called one time with each file) then I'm getting multiple onSuccess callbacks (presumably since I called uploadFiles multiple times).  If my understanding is then correct, it seems like I need some kind of `afterOnAdd` that would be call

[2016-03-07 22:42] Wildhoney commented on #26
`onAdd` is behaving correctly &mdash; once per file, and it appears as though `onSuccess` is too &mdash; as that's called for each upload. In the example all files are uploaded at once, rather than individually.

[2016-03-07 22:46] ggoforth commented on #26
Yup, that's the functionality I'm looking for, all at once, but I need it AFTER `on-add` has done it's thing.  So it would call on-add for each file, and then it would call some other event, like 'afterOnAdd` so I can hook into that for uploading all files at once immediately after a drop, so I don't have to have a button to click to say, "now upload all the files".

[2016-03-09 09:22] Wildhoney commented on #26
Happy to merge something like that if you can put together a PR @ggoforth :+1:

[2016-03-09 12:41] rodriguezmanu commented on #17
You can do something like that:

[code]

[2016-03-19 22:51] rodriguezmanu commented on #17
@kovalevskyartur I've created a pull request to do that, I hope help you. Here https://github.com/Wildhoney/ngDroplet/pull/53/

[2016-04-27 07:55] corehook opened #54 "CSRF"
Hi! What about CSRF token when send to Rails ?

[2016-04-27 08:01] corehook commented on #54
[code]

[2016-04-27 08:01] #54 closed

[2016-05-10 22:54] CodeBreaker30 opened #55 "Preview image for other type of files!"
Hi, I'm wondering what would be maybe the instruction for setting images for non images files. I'm trying to put some code in the dropletPreview directive but it doesn't work. Hope you can help!!

[2016-07-05 03:10] navindian opened #56 "Unable to Build"
0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\L084523\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'run',
1 verbose cli   'build-app' ]
2 info using npm@3.10.2
3 info using node@v4.4.6
4 verbose run-script [ 'prebuild-app', 'build-app', 'postbuild-app' ]
5 info lifecycle sentinel-srr@1.1.0~preb

[2016-07-05 03:21] navindian opened #57 "npm build is failing"
ng-droplet.min.js:1
(function (exports, require, module, __filename, __dirname) { !function(e){"use strict";var t="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",n=e.module("ngDroplet",[]).directive("droplet",["$rootScope","$window","$timeout","$q",function(t,n,s,i){return{restrict:"EA",require:"?ngModel",scope:{"interface":"=ngModel",onLoad:"&",onAdd:"&",onDelete:

[2016-08-02 13:53] danieldrews opened #58 "dragging to fast problem"
Hi,

whenever I drag a file faster than the usual inside the droplet, at some point the component triggers 1. dragenter 2.dragleave and 3.dragenter again which causes a 'blink' effect.

you can see this occuring at http://ng-droplet.herokuapp.com/

[2016-08-02 13:58] Wildhoney commented on #58
I don't see that &mdash; is it perhaps a browser or OS specific quirk?

[2016-08-02 14:46] danieldrews commented on #58
I'm current using Ubuntu 16.4. So I've changed to Windows and it works fine.
Chrome (Version 49.0.2623.108 Ubuntu 16.04 64-bit)  and Firefox (45.0.1 Mozilla Firefox for Ubuntu canonical - 1.0) have the same problem.

[2016-08-02 14:50] Wildhoney commented on #58
Unfortunately it sounds to be an issue with the OS environment. It'd be great to test it on a different Ubuntu 16.4 installation, if you have another 👍

[2016-08-02 16:08] danieldrews commented on #58
I'll try to download another one, thanks

[2016-08-29 18:22] yanilkr commented on #42
You can achieve this simply by keeping the already uploaded images separate from the existing ones. Find a section like this and add another <li ng-repeat="exisitngFiles"> to it and write your own custom delete function to remove them from the list.
<ul class="files">

</ul>

[2016-09-23 22:24] iwannabaa opened #59 "Different property name"
Is there a way to use a different property name other than `file` or `file[]`. This is required by the api I need to send the image to.

[2016-09-23 22:32] Wildhoney commented on #59
Nope. But if you want to open a PR for that I'm happy to merge it in.

[2016-09-23 23:19] iwannabaa commented on #59
I added support for this #60 What do you think?

[2016-09-23 23:19] Wildhoney commented on #59
Looks great &mdash; all merged in and released.

[2016-09-23 23:19] #59 closed

[2017-02-22 18:14] rimzoni opened #62 "heroku url not working"
Hey,

I noticed that your heroku application is not working. Can you please try to fix it :)

[2017-02-27 08:54] #62 closed

[2017-02-27 08:54] Wildhoney commented on #62
Please try now 👍

[2017-02-27 09:11] rimzoni commented on #62
awesome. thanks!

[2017-03-25 18:45] jmcollin78 opened #63 "In case of error, all future uploads are in error too"
Hi there,

Many thanks for this beautifull angular component.
I've notice than when a file upload is in error (typically because file size limit on server is exceeded -> server return status 500), all future uploads ends with the same error.

Reloading all the page (F5) remove the error.
Is there any way to reinitialize component after an error or something like that ?

JM.

[2017-03-25 19:03] Wildhoney commented on #63
Hmm, I suppose it's because all of the files are uploaded together, rather than individually. Considering you report an actual error to the user, rather than an unfriendly 500, they should be able to re-upload without failure.

Maybe we need something on the front-end that calculates the front-end (`X-File-Size` header is already sent, so we have that information) and to reject the upload if it ex

[2017-03-26 08:52] jmcollin78 commented on #63
No. I try to upload a file which is too large -> error,
All subsequent uploads try are failing with the same error.

I wonder if we need to clear all files stored for uploads before trying new uploads after an error.

[2017-06-26 09:31] okugami79 opened #65 "angularcli 2 with ngDroplet doesn't work"
any way to integrate with lastest angular2 cli framework?

[2017-07-10 08:05] Wildhoney commented on #65
It's not on the roadmap at the moment &ndash; but it's definitely something I'll get around to eventually.

[2017-07-10 08:05] #65 closed

[2017-07-28 10:46] janjanarnaldo opened #66 "Issue with auto upload."
Is there a way that we can add multiple files and upload it directly without having an upload button? The requirement is drag/drop and droplet-upload-multiple and after adding the files it should upload automatically. I've tried putting the interface.uploadFiles() insed $dropletFileAdded but it's some sort of a wacky stuff because $dropletFileAdded listener executes as much number as the files are

[2017-09-22 11:00] rahi-rajeev opened #67 "in model file is empty and i want to delete all file form single clcik button?"
Hello,
i have two problem first one
{"type":1,"file":{},"date":"2017-09-22T10:55:34.986Z","mimeType":"image/jpeg","extension":"jpeg"}
i am printing model so getting file is empty
other one is that i wat to delete all file from a single button click
thanks in andvance

[2017-11-03 14:07] rahi-rajeev opened #68 "how to add pre loaded image in case of edit?"
i want to add file when user going to edit page so i have previous loaded image i means file name so how i add for preview

[2017-11-04 09:55] rahi-rajeev commented on #67
hi,
for this one
other one is that i wat to delete all file from a single button click
thanks in andvance
u can do that like this
[code]

[2017-11-09 07:02] jihin opened #69 "The interface is not initialized"
The interface is not initialized, after add droplet. The variable is null.

[code]

[2017-11-13 04:44] ibnYusrat opened #70 "Is there a PHP Middle ware available for this?"
Do we have a PHP middleware available for this uploader? I'm not too good with PHP and just want to be able to save files on the server. Any help will be appreciated greatly.

[2018-05-16 17:44] Ajita24 opened #71 "ng-droplet in Angularjs using without $on"
Hi
I am trying to add a drag and drop file upload.I am using ng-droplet. The documentation states that event needs to be binded on controller this way:

  $scope.$on('$dropletReady', function whenDropletReady() {
            $scope.interface.allowedExtensions(['png', 'jpg', 'bmp', 'gif', 'svg', 'torrent']);
            $scope.interface.setRequestUrl('upload.html');
            $scope.interface.def

[2018-05-26 09:38] Wildhoney commented on #71
You do have access to the `ng-droplet` through the `interface` as [in the example](https://github.com/Wildhoney/ngDroplet/blob/master/example/index.html#L26).

However I'm not sure exactly sure what you're trying to achieve. Could you please explain your use-case a little more? Maybe an example of how you'd write your HTML if anything was possible.

[2018-07-18 23:14] RobHarrisAZ opened #72 "NPM Published version has too strict engine specified still"
This looks like is has been fixed in the repo but not published to npm so I have to override the engine checks in yarn to install.  NPM version of 0.7.0 has this:  engines: { node: '>=4.1.1 <7.0.0' }. Repo has "engines": {
    "node": ">=7.0.0"
  }

[2018-07-19 06:58] Wildhoney commented on #70
Nope, sorry. Nothing like that.

[2018-07-19 06:58] #70 closed

[2018-07-19 07:03] Wildhoney commented on #72
Sorry. Published `v0.7.1` 👍

[2018-07-19 07:03] #72 closed